<%layout('layout')%>

<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">@AshishkrGoyal</a></h1>
    </div>
    <br><br>

    <!--<div class="col-md-offset-4">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
            <i class="fa fa-facebook"></i> Sign up with Facebook
        </a>
    </div><br>-->


    <div class="text-center reg_msg">
        <h2 class="fancy"><span>LOGIN</span></h2>
    </div><br>

    <div class="row signup">


        <%if(messages.length>0){%>
        <%for(var i=0;i<messages.length;i++){%>
        <div class="alert alert-danger">

            <%=messages[i]%>
        <a href="#" class="close" aria-label="close" data-dismiss="alert">X</a>
        </div>
        <%}%>
        <%}%>





        <form method="POST" class="" id="signupForm" action="/login">

            <div class="row">
                <!--<div class="form-group col-xs-12 input_group">
                    <input id="fullname" class="form-control" name="fullname" type="text" autocomplete="on" placeholder="FULLNAME" style="margin-top: 50px; margin-bottom:20px;" >
                </div>-->
            </div>

            <div class="form-group input_group">
                <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:20px;">
            </div>

            <div class="form-group input_group">
                <input id="password" class="form-control" name="password" type="password" placeholder="PASSWORD" style="margin-bottom:20px;">
            </div>


            <div class="form-group">
                <input type="submit" id="submit" value="LOGIN" class="form-control btn btn-primary" name="submit" style="">
            </div>

        </form>

        <div>
            <h4 class="pull-left">Already have an account? <a href="/login">Login</a></h4>
            <h4 class="pull-right"><a href="/forget">Forget Password??</a></h4>
        </div>


    </div>
</div>
